# --- DJANGO SETTINGS ---
DEBUG=True
DJANGO_SECRET_KEY=votre_cle_secrete_ici # Génére une nouvelle pour la prod

# --- KONNECT SETTINGS (Sandbox) ---
KONNECT_API_KEY= cle_api_konnect
KONNECT_WALLET_ID= wallet_id


ALLOWED_HOSTS=localhost 127.0.0.1
KONNECT_WEBHOOK_URL=https://trustflow.tn/api/webhooks/konnect/
DB_PATH=/app/data/db.sqlite3